doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title BD-Market
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .col-sm-12
          h2.centered.translate BD-Market
          h4.centered
            span.translate test market for farmers' products
            br
            br
            if user
              a.btn.btn-primary.btn-lg.translate(href="/cart") View Cart
              span &nbsp;&nbsp;&nbsp;&nbsp;
              a.btn.btn-default.btn-lg.translate(href="/logout") Log Out
            else
              a.btn.btn-default.btn-lg.translate(href="/login") Log In
            hr

      .row
        .col-sm-3
          .well
            img(src="#{farmer.img || '//placehold.it/200x150'}")
        .col-sm-9
          h3
            a(href="/farmers/#{farmer.user_id}")= farmer.name
          h4.translate Currently selling:
          ul
            for item in items.filter((item) => { return item.quantity > item.sold })
              li
                a(href="/item/#{item._id}")= item.thing
          h4.translate Previously sold:
          ul
            for item in items.filter((item) => { return item.quantity <= item.sold })
              li
                a(href="/item/#{item._id}")= item.thing
      hr
    script(src="/translations.js")