doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title BD-Market
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .col-sm-12
          h2.centered.translate BD-Market
          h4.centered
            span.translate test market for farmers' products
            br
            br
            if user
              a.btn.btn-primary.btn-lg.translate(href="/cart") View Cart
              span &nbsp;&nbsp;&nbsp;&nbsp;
              a.btn.btn-default.btn-lg.translate(href="/logout") Log Out
            else
              a.btn.btn-default.btn-lg.translate(href="/login") Log In
            hr

      .row
        .col-sm-3
          .well.centered
            img(src="#{item.img || '//placehold.it/200x150'}")
        .col-sm-9
          h3
            span #{item.thing}
            small (#{item.quantity - item.sold} / #{item.quantity})
          span.translate from
          span &nbsp;
          a.farmer-name(href="/farmers/#{item.farmer.uid}")= item.farmer.name
        hr
        .col-sm-12
          if (item.quantity - item.sold > 0)
            input#unit(type="hidden", value=item.cost)
            input#remainder(type="hidden", value=(item.quantity - item.sold))
            
            form.form.well(action="/item/#{item._id}/buy", method="POST")
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label.translate Quantity
                input#quantity.form-control.input-lg(type="number", name="quantity", value="1")
              .form-group
                label.translate Total
                input#total.form-control(disabled, value="৳#{item.cost}")
              .form-group
                input.btn.btn-primary.translate(type="submit", value="Buy Now")
          else
            a.btn.btn-primary.translate(disabled) SOLD OUT
    script(src="/translations.js")
    script(src="/checkout.js")
